body {
    background-color: Gainsboro;
}

p {
    font-size: 24px;
    color: White;
}

.stage {
    width: 820px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #005500;
}

.hand {
    width: 800px;
    height: 210px;
    margin-left: auto;
    margin-right: auto;
    background-color: Green;
}

.card {
    width: 134px;
    height: 190px;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    background: url('Deck.gif') -720px -800px;
}
